* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1em;
  box-sizing: border-box;
}

html {
  background-image: url(img/Stranger_things_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.styled-body {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
}

.Netflix-img {
  height: 45px;
  margin-right: 10px;
}

.date {
  color: rgb(251, 250, 252);
  font-family: 'IBM Plex Sans', sans-serif;
  margin-right: auto;
}

.user-avatar {
  width: 80px;
  height: 80px;
  order: 2;
  margin-left: 40px;
}

.search-icon {
  width: 35.84px;
  height: 35.83px;
  order: 1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}


.stranger-genre {
  display: flex;
  gap: 20px;
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.5px;
  margin-left: 20px;
  margin-top: 10px; 
}

.genre-item {
  padding: 10px;
}

.genre-item:not(:first-child) {
  border-left: 4px solid white;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  letter-spacing: 5.5%;
  text-align: left;
  margin-bottom: 20px;
}
.movie-info {
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgb(167, 166, 166);
  font-family: Inter;
  font-size: 18px;
  margin-bottom: 20px;
}

.movie-info span {
  color: rgb(167, 166, 166);
  font-family: Inter;
  font-size: 18px;
  letter-spacing: 0%;
}

.movie-info span strong {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.stranger-description-container {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: rgb(167, 166, 166);
  font-family: Inter;
  font-size: 18px;
  margin-bottom: 20px;
}

.stranger-description p {
  width: 500px;
  line-height: 1.5;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-container {
  display: flex;
  gap: 60px;
  padding-top: 20px;
  /* margin-left: -800px; */
}

.red-button,
.black-button {
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.red-button {
  background-color: #D50D1F;
  color: #FFFFFF;
}

.red-button svg {
  margin-left: 10px;
  margin-right: 5px;
}

.black-button {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  width: 170px;
}

.black-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}
.stars {
  display: flex;
  margin-top: 0px;
  justify-content: flex-start;
}
.movie-container {
  gap: 20px;
  margin-top: 50px;
}

.movie-category-wrapper {
  display: flex;
  gap: 20px;
}

.movie-poster-class {
  width: 120px;
  height: 140px;
  border-radius: 12px;
}

.Popular-Films{
  text-align: left;
  color: white;
}

.nav-films{
  display: flex;
  width: 680px;
  margin-bottom: 20px;
}

.film-arrows {
  margin-left: auto;
}
.age-rating {
  position: fixed;
    right: 0;
    margin-top: 230px;
    display: flex;
}

#main-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.age {
  color: white;
  font-size: 30px;
  background-color: gray;
  border-left: 33px solid red;
  padding: 20px 121px 20px 20px;
}

.red-box {
  height: 66px;
  width: 33px;
  background-color: #D50D1F;
}
.gray-box{
  height: 66px;
  width: 174px;
  background-color: white;
  opacity: 0.5;
}